html, body{
	height: 100%;
	background-color: lightgray;
	font-size: small;
}


p{
	margin: 0;
	padding: 0;
}

.no-margin{
  margin: 0;  
}


/*#############LEAFLET MAP TAB/*#############*/

#leaflet-div{
	height: 100%;
	width: auto;
}

/*#############STATE SELECT DROPDOWN TAB/*#############*/

#dropdown-state-select{
	background-color: darkgray;
	width: 345PX;
}

#dropdown-USA{
	display: none;
}

/*#############STATE TAB/*#############*/

#state-info{
	height: 350px;
	display:none;
}

#state-info-header{
	text-align: center;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 5px;
}


#election-select-dropdown{
	background-color: darkgray;
	color: black;
}

#election-dropdown-2016{
	display: none;
}

#election-dropdown-2012{
	display: block;
}