body{
	background-color: lightgray;
}


p{
	margin: 0;
	padding: 0;
}


#dropdown-state-holder{
	padding-right: 320px;
}

#dropdown-state-select{
	background-color: darkgray;
}

#dropdown-USA{
	display: none;
}


#state-park-text{
	color: white;
	padding-left: 5px;
}

#leaflet-div{
	height: 800px;
	width: auto;
}





#state-info{
	height: 350px;
	display:none;
}

#state-info-header{
	text-align: center;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 5px;
}


#state-info-dropdown{
	background-color: darkgray;
	color: black;
}

#state-dropdown-voting{
	display: none;
}

#state-voting-text{
	display: block;
}

#state-demographic-text{
	display: none;
}

#state-error-text{
	display: none;
}

#state-change-text{
	display: none;	
}


#election-select-dropdown{
	background-color: darkgray;
	color: black;
}

#election-dropdown-2016{
	display: none;
}

#election-dropdown-2012{
	display: block;
}




#precint-tab{
	display:block;
}

#precint-controls{
	padding-bottom: 12px;
}

#precint-voting-btn{
	background-color: darkgray;
	color: black;
}

#precint-demographic-btn{
	background-color: darkgray;
	color: black;
}

#precint-comments-btn{
	background-color: darkgray;
	color: black;
}

#precint-voting-tab{
}

#precint-dem-info{
	padding-bottom: 10px;
}

#precint-rep-info{
	padding-bottom: 10px;
}

#precint-third-info{
	padding-bottom: 10px;
}


#precint-demographic-tab{
	display: none;
}

#precint-africanamerican-info{
	padding-bottom: 10px;
}

#precint-asian-info{
	padding-bottom: 10px;
}

#precint-hispanic-info{
	padding-bottom: 10px;
}

#precint-nativeamerican-info{
	padding-bottom: 10px;
}

#precint-white-info{
	padding-bottom: 10px;
}




#precint-comments-tab{
	display: none;
}